* {
   margin: 0px;
}

body {
   background-color: rgb(38,38,38);
   margin: 0px;
   font-family: 'Roboto';
}

.clickable {
   background-color: rgb(50, 50, 50);
   color: white;
   transition: 0.2s;
   margin: auto;
}

.clickable:hover {
   background-color: rgb(60, 60, 60);
   transition: 0.2s;
   cursor: pointer;
}

.clickable:active{
   background-color: rgb(70, 70, 70);
   transition: 0s;
}

#topBar {
   height: 40px;
   display: block;
}

.navDivs {
   color: white;
   background-color: rgb(60, 60, 60);
   display: inline-block;
   width: 100px;
   height: 40px;
   text-align: center;
   float: right;
   line-height: 40px;
   transition: 0.2s;
   margin-left: 1px;
}

.navDivs:hover {
   cursor: pointer;
   background-color: rgb(80, 80, 80);
   transition: 0.2s;
}

.navDivs:active {
   background-color: rgb(100, 100, 100);
   transition: 0s;
}

#banner {
   background-color: rgb(255, 160, 40);
   min-width: 1200px;
   height: 150px;
   line-height: 110px;
}

h1 {
   font-size: 50px;
   text-align: center;
   font-family: 'Roboto';
   height: 50px;
}

#createPoll {
   width: 120px;
   height: 30px;
   border-radius: 5px;
   line-height: 30px;
   text-align: center;
   margin-top: 35px;
}

#mainContainer {
   background-color: rgb(255, 160, 40);
   padding: 10px;
   width: 1200px;
   margin: auto;
   margin-top: 40px;
   min-height: 300px;
   border-radius: 5px;
}

selected-poll {
   color: green;
}

.hidden {
   display: hidden;
}

.boxes {
   display: inline-block;
   vertical-align: top;
   width: calc(100%/3 - 3px);
   margin: 0px;
   margin-bottom: 10px;
   background-color: rgb(38, 38, 38);
   border-radius: 5px;
   min-height: 100px;
   text-align: center;
}

.boxes p {
   color: white;
   max-height: 300px;
   overflow: auto;
   text-align: center;
}

#centerBox {
   display: inline-block;
   vertical-align: top;
   width: calc(100%/3 - 3px);
   margin: 0px;
   margin-bottom: 10px;
   background-color: rgb(38, 38, 38);
   border-radius: 5px;
   min-height: 50px;
   text-align: center;
}

#centerBox {
   color: white;
   max-height: 300px;
   overflow: auto;
   text-align: center;
}

#leftAlign {
   display: inline-block;
   padding: 10px;
}

#latest {
   text-align: left;
}

#pollName {
   font-size: 30px;
   text-align: center;
   padding: 0px;
}

#pollAuthor {
   text-align: left;
}

#voteForm div {
   padding: 2px;
   padding-left: 10px;
   text-align: left;
   margin: auto;
   border-bottom: 1px solid white;
}

#voteForm label {
   font-size: 24px;
}

#voteForm input[type="radio"] {
   margin-right: 8px;
}

#voteForm div:first-child {
   border-radius: 5px 5px 0px 0px;
}

#voteForm div:last-child {
   border-bottom: 0px solid black;
   border-radius: 0px 0px 5px 5px;
   }

form p {
   font-size: 25px;
   display: inline-table;
   margin-left: 10px;
}

#controlBox {
   text-align: center;
   margin-top: -15px;
}

.controlBoxButtons {
   border-radius: 5px;
   width: 110px;
   height: 50px;
   line-height: 50px;
   vertical-align: middle;
   display: inline-block;
   margin: 10px;
}

#divider {
   border-bottom: 1px solid rgb(38, 38, 38);
   margin: auto;
   margin-top: 40px; /* 25 less than bottom */
   margin-bottom: 50px;
   width: 85%;
   
}

/* Welcome */

.fullSpan {
   height: 40px;
   line-height: 40px;
   border-radius: 5px;
   margin-bottom: 1px;
}

#spanPollName {
   font-size: 24px;
   text-align: center;
}


/* createPoll */

input[type="text"] {
  
}

#createNewPollForm input {
   border: 0px; 
   color: white;
   height: 20px;
   border-bottom: 1px solid rgb(200, 200, 200);
}

#createPollTitle {
   display: block;
}

#createNewPollForm input {
   background-color: rgb(38, 38, 38);
}

.first-input {

}

.last-input {
   border-bottom: 0px;
}

#addOptionField {
   width: 15px;
   height: 15px;
   background-color: rgb(38, 38, 38);
   color: white;
   text-align: center;
   line-height: 15px;
}

#submitPoll {
   width: 80px;
   text-align: center;
}
