<div id="welcomeContainer">
   
   <div id="pollList">  
      <div ng-repeat="poll in view.polls|limitTo:view.pollLimit" > <!-- TODO: "see more" button click adds ten to visible list -->
         <div id="{{$index}}" class="fullSpan clickable">
               <p class="spanPollName" ng-click="view.selectPoll($index)">{{poll["Poll Title"]}}</p> 
         </div>  
      </div>
      <div id="showMore" class="clickable" ng-click="view.showMore()">Show More</div>   
   </div>

   <div id="welcomeRight">
      <selected-poll></selected-poll>
   </div>
   
</div>